<div class="container">
    <div class="header-container">
      <h1>Sentences</h1>
      <div class="header-actions">
        <button mat-raised-button class="add-button" (click)="addSentenceClick()">Add new sentence</button>
      </div>
    </div>
  
    <mat-table #table matSort [dataSource]="dataSource" class="mat-elevation-z8">
  
      <!-- Sentence Column -->
      <ng-container matColumnDef="sentence">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Sentence </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element }} </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  
    <mat-paginator #paginator 
                  [pageSize]="10"
                  [pageSizeOptions]="[5, 10, 20]"
                  [showFirstLastButtons]="firstLastButtons"
                  class="mat-elevation-z8">
    </mat-paginator>
  </div>