.container {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
  }
  
  .header-actions {
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: flex-end;
    margin: 1rem 0;
  }
  
  a:hover {
    cursor: pointer;
  }

  
  .mat-header-cell {
    font-size: 15px;
    color: black;
  }

  @media (max-width: 600px) {
    .header-actions {
      justify-content: center;
    }
    
    mat-cell {
      padding: 8px 0;
    }
 
  }
  