.container {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
  }
  
  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    .header-actions {
      display: flex;
      width: 40%;
      align-items: center;
      justify-content: flex-end;
    }
  
    h1 {
      margin-top: 1rem;
    }
  }

  a:hover {
    cursor: pointer;
  }

  
  .mat-header-cell {
    font-size: 15px;
    color: black;
  }

  @media (max-width: 600px) {
    .header-container {
      flex-direction: column;
      margin-bottom: 1rem;

      .header-actions {
        width: 70%;
        justify-content: center;
      }
    }

    mat-cell {
      padding: 8px 0;
    }
 
  }
  