.navbar {
    background-color: black;
    height: 3rem;
    
    nav {
        height: 100%;
        
        a {
            margin-left: 1rem;
            color: white;
            text-decoration: none;
        }
    }
}
